<!-- The below template is rendered when users try to log in with invalid information.-->

<!DOCTYPE html>
<html lang="en">

<head><%- include('./partials/_head.ejs'); %></head>

<body>
  <header><%- include('./partials/_header.ejs'); %></header>
    <p>Invalid email / password combination. Please try <a href="/login">logging in</a> or <a href="/register">signing up</a> again.</p>
</body>
<footer><%- include('./partials/_footer.ejs'); %></footer>

</html>