<!-- The below template is rendered when users submit a GET request to a non-existent endpoint.-->

<!DOCTYPE html>
<html lang="en">

<head><%- include('./partials/_head.ejs'); %></head>

<body>
  <header><%- include('./partials/_header.ejs'); %></header>
    <p>Not found: We can't seem to find anything at this address.</p>
    <p>Try returning to the <a href="/urls">main page</a>?</p>
</body>
<footer><%- include('./partials/_footer.ejs'); %></footer>

</html>