<!-- The below template is rendered for the user registration page.-->

<!DOCTYPE html>
<html lang="en">

<head><%- include('./partials/_head.ejs'); %></head>

<body>
  <header><%- include('./partials/_header.ejs'); %></header>
    <p>Invalid registration information. Please try <a href="/register">try registering again</a>.</p>
</body>
<footer><%- include('./partials/_footer.ejs'); %></footer>

</html>